.main{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    
    .banner{
        width: 100%;
        height: 300px;
        background: url(../img/banner.jpg) rgba(0, 20, 2, 0.705) ;
        background-size: cover; /*la imagen sea relativa al tamaño*/
        background-repeat: no-repeat;
        background-blend-mode: darken;
        background-position: center;
        text-align: center;
        h1{
            text-align: center;
            color: #C0392B;
        }
        .contenedor-texto{
            display: flex; /*para utilizar flexblox*/
            justify-content: center;
            align-content: center; /*centrar horizontal y vertical*/
            .texto{
                margin-top: 80px;
                border: 2px solid rgba(255, 255, 255, 0.705);
                box-shadow: inset 0 0 4px #5ccb5f, 0 0 8px #5ccb5f;
                border-radius: 3px;
                display: inline-block; /*para colocar elementos en linea*/
                text-align: center;
                padding: 20px 60px;
                 h1,h2{
                    color: #fff;
                    font-weight: 300;
                    margin: 0;
                }
                .nombre{
                    margin-bottom: 10px;
                    font-size: 50px;
                    line-height: 50px;
                }
                .tienda{
                    font-size: 25px;
                    line-height: 25px;
                }
            }
            
        }
    }
    .vitrina{
        h2{
            margin-top: 20px;
            text-align: center;
            /* border-bottom: 1px solid #5ccb5f; */
            text-shadow: 0 0 2px #5ccb608a;
        }
        .tarjetas{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .tarjeta{
                /* border: 1px solid rgba(0, 0, 0, 0.521); */
                margin-top: 20px;
                .thumb{
                    width: 100%;
                    margin-bottom: 10px;
                    img{
                        width: 100%;
                        vertical-align: top;
                        border-radius: 5px;
                    }
                }
                .tituloProductos{
                    font-weight: 700;
                    font-size: 17px;
                    color: #000;
                    text-align: center;
                }
                .medidas{
                    text-align: center;
                    font-size: 14px;
                    color: #636363;
                }
                .descripcion{
                    text-align: center;
                    font-size: 14px;
                    color: #636363;
                }
                .precio{
                    color: #5ccb5f;
                    text-align: center;
                    margin-top: 8px;
                }
            }
        }
        
    }
    .barraNav{
        margin-top: 50px;
        float: right;
        .navegacion{
            margin:20px 0;
            ul{
                list-style:none;
                text-align: center;
            }
            ul li {
                display:inline-block;
                margin-right:10px;
            }
            ul li a{
                display:block;
                padding:10px 20px;
                color:#636363;
                text-decoration: none;
                border: .2px solid #98ec9b;
                border-radius: 2px;
                &:hover{
                    background:#98ec9b;
                    color: #fff;
                }
            }
            ul li .active{
                background:#98ec9b;
                border: 1px solid #98ec9b;
	            font-weight:bold;
                color: #fff;
                border: none;
                &:hover{
                    color: #636363;
                    background: none;
                    border: 1px solid #98ec9b;
                }
            }

        }
    }
    
}