@charset "UTF-8";
.main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden; }
  .main .banner {
    width: 100%;
    height: 300px;
    background: url(../img/banner.jpg) rgba(0, 20, 2, 0.705);
    background-size: cover;
    /*la imagen sea relativa al tamaño*/
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
    text-align: center; }
    .main .banner h1 {
      text-align: center;
      color: #5ccb5f; }
    .main .banner .contenedor-texto {
      display: flex;
      /*para utilizar flexblox*/
      justify-content: center;
      align-content: center;
      /*centrar horizontal y vertical*/ }
      .main .banner .contenedor-texto .texto {
        margin-top: 80px;
        border: 2px solid rgba(255, 255, 255, 0.705);
        box-shadow: inset 0 0 4px #C0392B, 0 0 8px #C0392B;
        border-radius: 3px;
        display: inline-block;
        /*para colocar elementos en linea*/
        text-align: center;
        padding: 20px 60px; }
        .main .banner .contenedor-texto .texto h1, .main .banner .contenedor-texto .texto h2 {
          color: #fff;
          font-weight: 300;
          margin: 0; }
        .main .banner .contenedor-texto .texto .nombre {
          margin-bottom: 10px;
          font-size: 50px;
          line-height: 50px; }
        .main .banner .contenedor-texto .texto .tienda {
          font-size: 25px;
          line-height: 25px; }
  .main .vitrina h2 {
    margin-top: 20px;
    text-align: center;
    /* border-bottom: 1px solid #5ccb5f; */
    text-shadow: 0 0 2px #C0392B; }
  .main .vitrina .tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .main .vitrina .tarjetas .tarjeta {
      /* border: 1px solid rgba(0, 0, 0, 0.521); */
      margin-top: 20px; }
      .main .vitrina .tarjetas .tarjeta .thumb {
        width: 100%;
        margin-bottom: 10px; }
        .main .vitrina .tarjetas .tarjeta .thumb img {
          width: 100%;
          vertical-align: top;
          border-radius: 5px; }
      .main .vitrina .tarjetas .tarjeta .tituloProductos {
        font-weight: 700;
        font-size: 17px;
        color: #000;
        text-align: center; }
      .main .vitrina .tarjetas .tarjeta .medidas {
        text-align: center;
        font-size: 14px;
        color: #636363; }
      .main .vitrina .tarjetas .tarjeta .descripcion {
        text-align: center;
        font-size: 14px;
        color: #636363; }
      .main .vitrina .tarjetas .tarjeta .precio {
        color: #C0392B;
        text-align: center;
        margin-top: 8px; }
  .main .barraNav {
    margin-top: 50px;
    float: right; }
    .main .barraNav .navegacion {
      margin: 20px 0; }
      .main .barraNav .navegacion ul {
        list-style: none;
        text-align: center; }
      .main .barraNav .navegacion ul li {
        display: inline-block;
        margin-right: 10px; }
      .main .barraNav .navegacion ul li a {
        display: block;
        padding: 10px 20px;
        color: #636363;
        text-decoration: none;
        border: .2px solid #ac5147;
        border-radius: 2px; }
        .main .barraNav .navegacion ul li a:hover {
          background: #ac5147;
          color: #fff; }
      .main .barraNav .navegacion ul li .active {
        background: #ac5147;
        border: 1px solid #98ec9b;
        font-weight: bold;
        color: #fff;
        border: none; }
        .main .barraNav .navegacion ul li .active:hover {
          color: #636363;
          background: none;
          border: 1px solid #ac5147; }

/*# sourceMappingURL=main.css.map */
