*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/login.jpg);
    background-size:auto;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.685);
    background-blend-mode: darken;
    
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    .titulo{
        color: #fff;
        text-align: center;
        padding: 15px 0;
        
    }
    .contenido{
        background: rgba(0, 0, 0, 0.521);
        width: 50%;
        margin: 190px auto;
        padding: 20px 0;
        border-radius: 5px;


        .formulario{
            margin: 0 auto;
            border-radius: 5px;
            padding: 20px 10px;
            
            
            input{
                display: block;
                
            }
            input[type="email"],
            input[type="password"],
            input[type="text"]{
                background: #3131319f;
                color: #fff;
                margin: 0 auto;
                width: 40%;
                padding: 10px;
                margin-bottom: 16px;
                border-radius: 3px;
                border: 1px solid #ffffff65;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                &:focus{
                    border: 2px solid #A6ACAF;
                }
            }
            input[type="submit"]{
                margin-top: 20px;
                width: 200px;
                margin: 0 auto;
                background: none;
                border: 1px solid #fff;
                color: #fff;
                padding: 10px;
                cursor: pointer;
                font-size: 16px;
                border-radius: 3px;
                &:hover{
                    color: #fff;
                    background: #196F3D;
                    border: 1px solid #196F3D;
                }
            }
        }
        a{
            display: block;
            padding: 5px 0;
            color: rgba(255, 255, 255, 0.61);
            text-align: center;
            &:hover{
                color: #fff;
            }
        }
    }
    
}